@import "./icons.scss";

// Dark Theme
// @import "./bootstrap-dark.scss";
// @import "./app-dark.scss";

// Light Theme
@import "./bootstrap.scss";
@import "./app.scss";

// RTL Mode
// @import "./rtl/bootstrap-rtl";
// @import "./rtl/components-rtl";
// @import "./rtl/float-rtl";
// @import "./rtl/general-rtl";
// @import "./rtl/pages-rtl";
// @import "./rtl/plugins-rtl";
// @import "./rtl/spacing-rtl";
// @import "./rtl/structure-rtl";
// @import "./rtl/text-rtl";

body {
  font-family: var(--bs-font-sans-serif) !important;
  * {
    outline: none;
  }
  overflow-y: hidden;
}

.react-bootstrap-table-page-btns-ul {
  margin-bottom: 0px;
}
.close {
  background: transparent;
  border: 0;
  font-size: 18px;
  padding: 2.35rem 2.25rem;
  background: transparent escape-svg($btn-close-bg-dark) center /
    $btn-close-width auto no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  width: 1em;
  height: 4.75em;
  z-index: 2;
  span {
    display: none;
  }
}
.rangeslider__fill {
  background-color: #556ee6 !important;
}
.rdw-editor-main {
  border: 1px solid $gray-300;
  height: 239px;
}

.dz-message {
  text-align: center;
  margin: 2em 0;
}
//Crypto enteries
.bs-select select {
  width: auto !important;
}

.apexcharts-canvas {
  text {
    fill: #adb5bd !important;
  }
}

//
// Columns
//

.card-columns {
  .card {
    margin-bottom: $grid-gutter-width;
  }

  @include media-breakpoint-up(sm) {
    column-count: 3;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;

    .card {
      display: inline-block; // Don't let them vertically span multiple columns
      width: 100%; // Don't let their width change
    }
  }
}

//carousel
.carousel-custom {
  .carousel-dark {
    .carousel.slide {
      .carousel-indicators [data-bs-target] {
        background: #000;
        border-color: #fff;
      }
    }
  }
  .carousel.slide {
    .carousel-indicators [data-bs-target] {
      border: 1px solid #000;
      background: #fff;
      height: 2px;
      opacity: 0.4;
    }
    .carousel-indicators .active {
      opacity: 1;
    }
  }
}

//cursor-pointer
.cursor-pointer {
  cursor: pointer;
}

//form editor
.wysiwyg-custom {
  .rdw-link-modal {
    height: auto;
  }
  .rdw-embedded-modal-header {
    .rdw-embedded-modal-header-option {
      width: auto;
    }
  }
}

//form xeditable
.formXeditable-custom {
  button {
    margin-left: 5px;
  }
}

//User List
.dropdown-toggle {
  &:after {
    display: none !important;
  }
}

//react-table
.react_table {
  thead {
    tr {
      th {
        div:last-child {
          min-height: auto;
        }
      }
    }
  }
}

//Buttons classes
.btn-orange{
  background-color: #F6851F;
  border-color: #F6851F;
}
.btn-orange:hover{
  background-color: #FFD500;
  border-color: #FFD500;
  color: #0700D8;
}
.btn-orange:disabled, .btn-orange.disabled {
  color: #fff;
  background-color: #f6b479;
  border-color: #f6b479;
}
.border-orange{
  border-color: #F6851F;
}
.border-paradise{
  border-color: rgb(61, 199, 244);
}
.modal-content{
  border: none;
  border-radius: 1rem;
}
.modal-header{
  border-top-left-radius:1rem;
  border-top-right-radius:1rem;
}

.text-orange{
  color:#F6851F;
}
.table{
  margin-bottom: 0 !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #F6851F;
  border-color: #F6851F;
}
.swal2-styled.swal2-cancel{
  border: none;
}
.swal2-styled.swal2-cancel:hover{
  background-color: #F6851F !important;
}
.swal2-styled.swal2-confirm {
  border: none !important;
}
.swal2-styled.swal2-confirm:hover {
  background-color: #a7b6c4 !important;
}
#sidebar-menu ul li ul.sub-menu li a {
  padding: 0.4rem 1.5rem 0.4rem 1.85rem;
  font-weight: 400;
  color: #fff;
  margin: 0px 10px;
  background-color: transparent;
  font-size: 15px;
}

#sidebar-menu ul li a.has-arrow.waves-effect span {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 11px;
  display: inline-block;
  margin-top: 5px;
}

.mm-active.has-arrow.waves-effect, .sub-menu .mm-active>a {
  background-color: #f3f8fb !important;
}
.mm-active.has-arrow.waves-effect, .sub-menu .mm-active>a::after {
  color: #fff !important;
  background-color: #3dc7f4 !important;
}
.table-two-column{
  column-count: 2;
}

  @media only screen and (max-width:1796px) {
    .cell-min-height{
      min-height: 44px;
    }
  }
.content-footer{
  border-top: 1px solid #74788D;
}
.table > :not(caption) > * > * {
  padding: 0.5rem 0.75rem; 
  vertical-align: middle;
}
.pagination{
  margin-bottom: 0 !important;
}
#sidebar-menu ul li ul.sub-menu li a {
  padding: 0.4rem 1.5rem 0.4rem 3rem;
  
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border-color: #F6851F;
}

/*Classes that modify the behaviour of the columns*/

/* Categories columns*/
.table-column-categories-Name{
  width: 25% !important;
}
.table-column-categories-Code{
    width: 10% !important;
}
.table-column-categories-Parent{
    width: 40% !important;
}
.table-column-categories-Active{
    width: 10% !important;
}
.table-column-categories-Action{
    width: 20% !important;
}
/* Departments columns*/
.table-column-departments-Name{
  width: 25% !important;
}
.table-column-departments-Code{
    width: 10% !important;
}
.table-column-departments-Members{
    width: 10% !important;
}
.table-column-departments-Date{
  width: 30% !important;
}
.table-column-departments-Active{
    width: 10% !important;
}
.table-column-departments-Action{
    width: 10% !important;
}
/* Locations columns*/
.table-column-locations-Name{
  width: 50% !important;
}
.table-column-locations-Active{
    width: 10% !important;
}
.table-column-locations-Action{
    width: 10% !important;
}
/* Operators columns*/
.table-column-operator-Name{
width: 20% !important;
}
.table-column-operator-Code{
  width: 10% !important;
}
.table-column-operator-Phone{
  width: 20% !important;
}
.table-column-operator-Email{
    width: 30% !important;
}
.table-column-operator-Active{
  width: 10% !important;
}
.table-column-operator-Action{
  width: 20% !important;
}
/* Payment Types columns*/
.table-column-payment-Name{
  width: 30% !important;
}
.table-column-payment-Default{
  width: 30% !important;
}
.table-column-payment-Active{
  width: 10% !important;
}
.table-column-payment-Action{
  width: 20% !important;
}
/* Providers columns*/
.table-column-providers-Name{
  width: 20% !important;
}
.table-column-providers-Code{
  width: 10% !important;
}
.table-column-providers-Phone{
  width: 20% !important;
}
.table-column-providers-Reservation{
  width: 30% !important;
}
.table-column-providers-Active{
  width: 10% !important;
}
.table-column-providers-Action{
  width: 20% !important;
}
/* Shopping carts columns*/
.table-column-shopping-Cart{
  width: 15% !important;
}
.table-column-shopping-Server{
  width: 10% !important;
}
.table-column-shopping-Website{
  width: 20% !important;
}
.table-column-shopping-URL{
  width: 30% !important;
}
.table-column-shopping-Active{
  width: 10% !important;
}
.table-column-shopping-Action{
  width: 20% !important;
}
/* Tours columns*/
.table-column-tours-Name{
  width: 25% !important;
}
.table-column-tours-Website{
  width: 12% !important;
}
.table-column-tours-Provider{
  width: 12% !important;
}
.table-column-tours-Category{
  width: 12% !important;
}
.table-column-tours-Operator{
  width: 12% !important;
}
.table-column-tours-Location{
  width: 12% !important;
}
.table-column-users-Active{
  width: 5% !important;
}
.table-column-users-Action{
  width: 10% !important;
}
/* Users columns*/
.table-column-users-Name{
  width: 15% !important;
}
.table-column-users-Email{
  width: 15% !important;
}
.table-column-users-Job{
  width: 13% !important;
}
.table-column-users-Category{
  width: 13% !important;
}
.table-column-users-Department{
  width: 13% !important;
}
.table-column-users-Role{
  width: 20% !important;
}
.table-column-users-Active{
  width: 10% !important;
}
.table-column-users-Action{
  width: 20% !important;
}
.ico-hover-orange:hover {
  color: #f6851f !important;
}
.blue-filled-hover:hover {
  background-color: var(--bs-paradise);
  border-color: var(--bs-paradise);
}
.blue-outlined-hover:hover {
  border-color: var(--bs-paradise);
  background-color: unset;
  color: var(--bs-paradise);
}
.blue-switch-outlined .react-switch-bg {
  background: #fff !important;
  border: 2px #3dc7f4 solid !important;
  color: #3dc7f4;
}

.blue-switch-outlined .react-switch-handle {
  background: #3dc7f4 !important;
  border: 2px #fff solid !important;
  height: 24px !important;
  width: 24px !important;
  top: 2px !important;
  left: 1px;
}

.gray-switch-outlined .react-switch-bg {
  background: #fff !important;
  border: 2px #ced4da solid !important;
  color: #ced4da;
}

.gray-switch-outlined .react-switch-handle {
  background: #ced4da !important;
  border: 2px #fff solid !important;
  height: 24px !important;
  width: 24px !important;
  top: 2px !important;
  left: 1px;
}

.blue-switch-filled-mini.form-check-input {
  background-color: #00a1d5;
  border-color: #00a1d5;
}

.custom-width-150 {
  width: 150px;
}
.custom-width-250 {
  width: 250px;
}
.custom-width-300 {
  width: 300px;
}

.hide-element-ps {
  display: none;
}

.selected-row{
  background-color:#3CC6F31A
}